@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

$logo_color: rgb(140, 207, 160);

html,
body {
	margin: 0;
}
.flex {
	display: flex;
}
* {
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
}

input[type="text"],
input[type="number"] {
	outline: none;
	font-weight: bold;
}
button,
input[type="submit"] {
	height: fit-content;
	outline: none;
	border: 2px solid $logo_color;
	background-color: white;
	border-radius: 5px;
	transition: 0.2s;
}
button:hover,
input[type="submit"]:hover {
	background-color: $logo_color;
	color: white;
	cursor: pointer;
}
