@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
html,
body {
  margin: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

input[type="text"],
input[type="number"] {
  outline: none;
  font-weight: bold;
}

button,
input[type="submit"] {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  outline: none;
  border: 2px solid #8ccfa0;
  background-color: white;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button:hover,
input[type="submit"]:hover {
  background-color: #8ccfa0;
  color: white;
  cursor: pointer;
}

.container2 {
  height: 80vh;
  width: 100%;
}

.container2 .description {
  text-align: center;
}

.container2 .description h1 {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #8ccfa0;
  font-size: 2.6rem;
  letter-spacing: 7px;
  text-shadow: 5px 0px #e9e9e9;
}

.container2 .description img {
  width: 600px;
  border-radius: 50px;
  border: 3px solid #8ccfa0;
  margin: 30px;
}

.container2 .description #graphimg {
  width: 800px;
  padding: 20px;
}

.container2 .description div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container2 .description2 {
  text-align: center;
}

.container2 .description2 h1 {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #8ccfa0;
  font-size: 2.6rem;
  letter-spacing: 7px;
  text-shadow: 5px 0px #e9e9e9;
}

.container2 .description2 img {
  width: 80%;
  border-radius: 50px;
  border: 3px solid #8ccfa0;
  margin-top: 30px;
  padding: 20px;
}

.input_form {
  text-align: center;
}

.exercise_container {
  height: 100%;
  width: 60%;
  margin: auto;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 30px;
}

.container form input[type="number"] {
  width: 50px;
}

.container .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .date h1 {
  text-align: center;
  margin-right: 10px;
  font-size: 30px;
  border-bottom: 3px solid #8ccfa0;
}

.container .exercise {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

.container .exercise .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.container .exercise .volume {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
}

.container .exercise .volume .name {
  text-transform: capitalize;
}

.container .exercise .volume .reps {
  background-color: #a3fcff;
}

.container .exercise .volume .rpe {
  background-color: #9cfc9c;
}

.container .exercise .volume .exercise_type {
  background-color: #ffadad;
}

.container .exercise .volume div {
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 5px;
}

.container .exercise button {
  margin-right: 5px;
}

.container .exercise .updateForm {
  display: none;
}

.container .exercise .updateForm * {
  margin-right: 5px;
}

.canvas_container {
  width: 70%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
}
/*# sourceMappingURL=home.css.map */