@import "globals";

.navbar2,
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  height: fit-content;
  h1 {
    width: fit-content;
    margin-left: 30px;
    font-size: 40px;
    color: $logo_color;
  }
  &__links {
    display: flex;
    width: fit-content;
    right: 0px;
    position: absolute;
    a {
      color: black;
      text-decoration: none;
      margin-right: 30px;
    }
    a::after {
      content: "";
      display: block;
      transition: 0.3s;
      height: 2px;
      width: 0%;
      background-color: $logo_color;
    }
    a:hover::after {
      width: 100%;
    }
  }
}
