@import "globals";

.statsContainer {
	h1 {
		text-align: center;
	}
	position: relative;
	.stats {
		width: fit-content;
		margin: auto;
		display: flex;
		margin-top: 10px;
		margin-bottom: 10px;
		* {
			margin-right: 13px;
		}
		&__date {
			//   padding: 3px;
			border-bottom: 2px solid $logo_color;
		}
	}
	.logform {
		// background-color: red;
		text-align: center;
	}
	.updatedStats {
		display: none;
		background-color: white;
		input[type="number"] {
			width: 40px;
		}
	}
}

.chart {
	width: 50%;
	//   height: 300px;
}
