{% extends 'workout/base.html' %}
{% load static %}

{% block body %}

{% if request.user.is_authenticated %}
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            Name: {{form.name}}
            Total volume: {{form.volume}}
            <input type="submit" value="add">
        </form>
    </div>

    {% for exercise in exercises %}

    {{exercise.name}}
    {{exercise.volume}} reps
    <form action="" method="post">
        {% csrf_token %}
        <input name="key" type="text" value="{{exercise.pk}}" style="opacity:0"readonly>
        <input type="submit" value="remove">
    </form>

    {% empty %}
    There are no exercises yet.
    {% endfor %}
{% else %}

{% endif %}

{% endblock %}